:root {
  --main-title-colore: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header__logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header__logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 25px;
  letter-spacing: 0.03em;
  color: #000000;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: 93px;
}

.header__right {
  display: flex;
  margin-left: auto;
}

.header__list .header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__right .header__right-item + .header__right-item {
  margin-left: 50px;
}

.header__studio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__studio::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.header__studio-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__studio-second:hover, .header__studio-second:focus {
  color: var(--accent-color);
}

.header__potfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__potfolio:hover, .header__potfolio:focus {
  color: var(--accent-color);
}

.header__potfolio-second {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__potfolio-second::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.icons__envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}

.header__email:hover .icons__envelope,
.header__email:focus .icons__envelope {
  fill: var(--accent-color);
}

.icons__smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}

.header__tel:hover .icons__smartphone,
.header__tel:focus .icons__smartphone {
  fill: var(--accent-color);
}

.header__icons {
  margin-right: 10px;
}

.header__email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}

.header__email:hover, .header__email:focus {
  color: var(--accent-color);
}

.header__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  display: block;
  text-align: center;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-colore);
}

.hero__button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color var(--time) var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.peculiarities__list > .peculiarities__main {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.peculiarities__icons {
  display: flex;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.peculiarities__icons-icons {
  display: block;
  width: 70px;
  height: 70px;
}

.peculiarities__main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.peculiarities__main-title-org {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main__buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-buttons__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main-buttons__item {
  transition: box-shadow var(--time) var(--timing-function);
}

.main-buttons__item:not(:first-child) {
  margin-left: 8px;
}

.main-buttons__item:hover, .main-buttons__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button__all {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
}

.main-button-other {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  color: var(--second-title-color);
  cursor: pointer;
  transition: color var(--time) var(--timing-function);
  transition: background-color var(--time) var(--timing-function);
}

.main-button-other:hover, .main-button-other:focus {
  color: var(--main-title-colore);
  background-color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-list .projects-information {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-cards {
  display: block;
  max-width: 100%;
}

.cards-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-information-link {
  display: block;
  transition: box-shadow var(--time) var(--timing-function);
}

.projects-information-link:hover, .projects-information-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cards-text {
  position: relative;
  overflow: hidden;
}

.projects-information-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
}

.projects-information-link:hover .projects-information-text {
  transform: translateY(0%);
}

.doing {
  padding-bottom: 94px;
}

.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.doing__image {
  display: flex;
}

.doing__image-pictures {
  position: relative;
  display: block;
}

.doing__image .doing__image-pictures:not(:first-child) {
  margin-left: 30px;
}

.doing__kind {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;*/
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.team__title,
.team__clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__worker {
  display: flex;
}

.team__worker-about {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__worker .team__worker-about:not(:first-child) {
  margin-left: 30px;
}

.team__name-function-worker {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__worker-about-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__worker-function {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__worker-socials {
  display: flex;
  justify-content: center;
}

.team__socials-icons {
  fill: #afb1b8;
  transition: fill var(--time) var(--timing-function);
}

.team__socials-link:hover .team__socials-icons,
.team__socials-link:focus .team__socials-icons {
  fill: var(--main-title-colore);
}

.team__socials-item {
  width: 44px;
  height: 44px;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--time) var(--timing-function);
}

.team__socials-link:hover, .team__socials-link:focus {
  background-color: var(--accent-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.clients__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__icons > .clients__icons-cards:not(:first-child) {
  margin-left: 30px;
}

.clients__icons-number {
  display: block;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  transition: border-color var(--time) var(--timing-function);
}

.clients__icons-number:hover, .clients__icons-number:focus {
  border-color: var(--accent-color);
}

.one,
.two,
.three,
.four,
.five,
.six {
  transition: fill var(--time) var(--timing-function);
}

.clients__icons-number:hover .one,
.clients__icons-number:hover .one,
.clients__icons-number:hover .one,
.clients__icons-number:hover .one,
.clients__icons-number:hover .one,
.clients__icons-number:hover .one,
.clients__icons-number:focus .one,
.clients__icons-number:focus .one,
.clients__icons-number:focus .one,
.clients__icons-number:focus .one,
.clients__icons-number:focus .one,
.clients__icons-number:focus .one, .clients__icons-number:hover
.two,
.clients__icons-number:hover
.two,
.clients__icons-number:hover
.two,
.clients__icons-number:hover
.two,
.clients__icons-number:hover
.two,
.clients__icons-number:hover
.two,
.clients__icons-number:focus
.two,
.clients__icons-number:focus
.two,
.clients__icons-number:focus
.two,
.clients__icons-number:focus
.two,
.clients__icons-number:focus
.two,
.clients__icons-number:focus
.two, .clients__icons-number:hover
.three,
.clients__icons-number:hover
.three,
.clients__icons-number:hover
.three,
.clients__icons-number:hover
.three,
.clients__icons-number:hover
.three,
.clients__icons-number:hover
.three,
.clients__icons-number:focus
.three,
.clients__icons-number:focus
.three,
.clients__icons-number:focus
.three,
.clients__icons-number:focus
.three,
.clients__icons-number:focus
.three,
.clients__icons-number:focus
.three, .clients__icons-number:hover
.four,
.clients__icons-number:hover
.four,
.clients__icons-number:hover
.four,
.clients__icons-number:hover
.four,
.clients__icons-number:hover
.four,
.clients__icons-number:hover
.four,
.clients__icons-number:focus
.four,
.clients__icons-number:focus
.four,
.clients__icons-number:focus
.four,
.clients__icons-number:focus
.four,
.clients__icons-number:focus
.four,
.clients__icons-number:focus
.four, .clients__icons-number:hover
.five,
.clients__icons-number:hover
.five,
.clients__icons-number:hover
.five,
.clients__icons-number:hover
.five,
.clients__icons-number:hover
.five,
.clients__icons-number:hover
.five,
.clients__icons-number:focus
.five,
.clients__icons-number:focus
.five,
.clients__icons-number:focus
.five,
.clients__icons-number:focus
.five,
.clients__icons-number:focus
.five,
.clients__icons-number:focus
.five, .clients__icons-number:hover
.six,
.clients__icons-number:hover
.six,
.clients__icons-number:hover
.six,
.clients__icons-number:hover
.six,
.clients__icons-number:hover
.six,
.clients__icons-number:hover
.six,
.clients__icons-number:focus
.six,
.clients__icons-number:focus
.six,
.clients__icons-number:focus
.six,
.clients__icons-number:focus
.six,
.clients__icons-number:focus
.six,
.clients__icons-number:focus
.six {
  fill: var(--accent-color);
}

.clients__icons-number-cards {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo-web {
  display: block;
  margin-bottom: 20px;
}

.footer__logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /*font-weight: 700;
  font-size: 26px;
  line-height: 1.19;*/
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer__logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__adress {
  font-style: normal;
}

.footer__adress-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*font-size: 14px;
  line-height: 1.71;*/
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
}

.footer__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*font-size: 14px;
  line-height: 1.71;*/
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__logo-together {
  display: flex;
  align-items: baseline;
}

.footer-together {
  margin-left: 70px;
}

.footer-together__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-title-colore);
}

.footer-together__socials {
  display: flex;
}

.footer-together__item:not(:first-child) {
  margin-left: 10px;
}

.footer-together__icons {
  fill: var(--main-title-colore);
}

.footer-together__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  justify-content: center;
  transition: background-color var(--time) var(--timing-function);
}

.footer-together__link:hover, .footer-together__link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
}

.footer-subscribe__contact {
  display: flex;
}

.footer-subscribe__email {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}

.footer-subscribe__email:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.footer-subscribe__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border: none;
}

.footer-subscribe__icons {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(23, 26, 36, 0.2);
  transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-title-colore);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background-color: transparent;
  transition: fill var(--time) var(--timing-function);
}

.modal__open:focus, .modal__open:hover {
  fill: var(--accent-color);
}

.modal__open-modal {
  display: block;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.modal__icon-close {
  position: absolute;
  padding: 6px;
  width: 11px;
  height: 11px;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--time) var(--timing-function);
}

.modal-form__input:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  transition: fill var(--time) var(--timing-function);
}

.modal-form__field {
  position: relative;
}

.modal__form .modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-form__input-wrap {
  display: block;
  position: relative;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-title-color);
}

.modal-form__comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--time) var(--timing-function);
}

.modal__comment:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox__checkbox {
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal-form-checkbox__check {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form-checkbox__check-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.modal-form-checkbox__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.modal-form-checkbox__checkbox:focus + .modal-form-checkbox__check > .modal-form-checkbox__icon-check {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-checkbox__checkbox:checked + .modal-form-checkbox__check > .modal-form-checkbox__checkbox:focus + .modal-form-checkbox__check > .modal-form-checkbox__icon-check {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-checkbox__modal-icon-check {
  fill: #ffffff;
}

.modal__button-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--main-title-colore);
  padding: 10px 55px 10px 56px;
  border: none;
  transition: background-color var(--time) var(--timing-function);
}

.modal__button-submit:focus, .modal__button-submit:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */