:root {
  --main-title-colore: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.header__logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  padding-top: 16px;
  padding-bottom: 16px;
  /*font-family: Raleway;
  @include font(700, 26px, 1.19);
  padding-top: 24px;
  padding-bottom: 25px;*/
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (min-widht: 480px) {
  .header__logo-web {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.header__logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  padding-top: 16px;
  padding-bottom: 16px;
  /*font-family: Raleway;
  @include font(700, 26px, 1.19);
  padding-top: 24px;
  padding-bottom: 25px;*/
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-widht: 480px) {
  .header__logo-studio {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}

.header__menu {
  position: absolute;
  top: 22px;
  right: 23px;
  border: none;
}

.header__menu-icon {
  width: 24px;
  height: 16px;
}

.header__mob-menu {
  position: relative;
  width: 100vh;
  /*height: 100vh;*/
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
}

.mob-menu__open {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;
}

.mob-menu__open-modal {
  width: 19px;
  height: 19px;
}

.mob-menu__list {
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: 302px;
}

.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  padding-right: 40px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.mob-menu__item {
  margin-bottom: 32px;
}

.mob-menu__item:last-child {
  margin-bottom: -32px;
}

.contact-menu__list {
  margin-left: 40px;
  display: block;
}

.contact-menu__link {
  margin-bottom: 32px;
}

.contact-menu__link:last-child {
  margin-bottom: -32px;
}

.contact-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.contact-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.social-menu__list {
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 48px;
}

.social-menu__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 20px;
}

.social-menu__link:last-child {
  margin-right: -20px;
}

.header__mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: 93px;
  display: none;
}

.header__right {
  display: flex;
  margin-left: auto;
  display: none;
}

.header__list .header__item:not(:last-child) {
  margin-right: 50px;
}

.header__item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header__right .header__right-item + .header__right-item {
  margin-left: 50px;
}

.header__studio {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__studio::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.header__studio-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__studio-second:hover, .header__studio-second:focus {
  color: var(--accent-color);
}

.header__potfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__potfolio:hover, .header__potfolio:focus {
  color: var(--accent-color);
}

.header__potfolio-second {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.header__potfolio-second::after {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
}

.header__contact:hover, .header__contact:focus {
  color: var(--accent-color);
}

.icons__envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}

.header__email:hover .icons__envelope,
.header__email:focus .icons__envelope {
  fill: var(--accent-color);
}

.icons__smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
}

.header__tel:hover .icons__smartphone,
.header__tel:focus .icons__smartphone {
  fill: var(--accent-color);
}

.header__icons {
  margin-right: 10px;
}

.header__email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}

.header__email:hover, .header__email:focus {
  color: var(--accent-color);
}

.header__tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
}

.header__tel:hover, .header__tel:focus {
  color: var(--accent-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imghero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imghero2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imgherot.jpg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imgherot2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imgherod.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/imgherod2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
}

.hero__title {
  /*@include font(900, 20px, 1.62);*/
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-colore);
  /*@media screen and (min-widht: 480px) {
    font-size: 26px;
    line-height: calc(42 / 26);
    width: 360px;
    height: 84px;
    /* @include font(900, 26px, 1.62);
  }*/
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    /*@include font(900, 44px, 1.36);*/
  }
}

.hero__button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  transition: background-color var(--time) var(--timing-function);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.peculiarities__main {
  margin: 15px;
  /*.peculiarities__list > & {
    flex-basis: calc(100% / 4 - 30px);
    margin-left: 30px;
  }*/
}

@media screen and (min-width: 768px) {
  .peculiarities__main {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities__main {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.peculiarities__icons {
  display: flex;
  height: 120px;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  /*padding: 25px 100px;*/
  margin-bottom: 30px;
}

.peculiarities__icons-icons {
  display: block;
  width: 70px;
  height: 70px;
}

.peculiarities__main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--second-title-color);
}

@media screen and (min-width: 768px) {
  .peculiarities__main-title {
    text-align: left;
  }
}

.peculiarities__main-title-org {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.main__buttons {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-buttons__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.main-buttons__item {
  transition: box-shadow var(--time) var(--timing-function);
}

.main-buttons__item:not(:first-child) {
  margin-left: 8px;
}

.main-buttons__item:hover, .main-buttons__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-button__all {
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
}

.main-button-other {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  color: var(--second-title-color);
  cursor: pointer;
  transition: color var(--time) var(--timing-function);
  transition: background-color var(--time) var(--timing-function);
}

.main-button-other:hover, .main-button-other:focus {
  color: var(--main-title-colore);
  background-color: var(--accent-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-list .projects-information {
  flex-basis: calc(100% / 3-30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-cards {
  display: block;
  max-width: 100%;
}

.cards-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.projects-information-link {
  display: block;
  transition: box-shadow var(--time) var(--timing-function);
}

.projects-information-link:hover, .projects-information-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-cards-text {
  position: relative;
  overflow: hidden;
}

.projects-information-text {
  position: absolute;
  top: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
}

.projects-information-link:hover .projects-information-text {
  transform: translateY(0%);
}

.doing {
  padding-bottom: 94px;
}

.doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.doing__image {
  display: flex;
}

.doing__image-pictures {
  position: relative;
  display: block;
}

.doing__image .doing__image-pictures:not(:first-child) {
  margin-left: 30px;
}

.doing__kind {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  /*font-weight: 700;
  font-size: 14px;
  line-height: 1.14;*/
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.team {
  background: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__list {
  /*max-width: 100%;
  display: flex;*/
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.team__column {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .team__column {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team__column {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.team__column {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__picture {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team__about {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__socials {
  display: flex;
  justify-content: center;
}

.team__socials-icons {
  fill: #afb1b8;
  transition: fill var(--time) var(--timing-function);
}

.team__socials-link:hover .team__socials-icons,
.team__socials-link:focus .team__socials-icons {
  fill: var(--main-title-colore);
}

.team__socials-item {
  width: 44px;
  height: 44px;
}

.team__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--time) var(--timing-function);
}

.team__socials-link:hover, .team__socials-link:focus {
  background-color: var(--accent-color);
}

/*.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}
.team__title {
  @include font(700, 36px, 1.17);
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team__list {
  display: flex;
}
.team__column {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  .team__list &:not(:first-child) {
    margin-left: 30px;
  }
}
.team__about {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  @include font(500, 16px, 1.19);
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team__subtitle {
  @include font(400, 16px, 1.19);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__socials {
  display: flex;
  justify-content: center;
}
.team__socials-icons {
  fill: #afb1b8;
  transition: fill var(--time) var(--timing-function);
  .team__socials-link:hover &,
  .team__socials-link:focus & {
    fill: var(--main-title-colore);
  }
}
.team__socials-item {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.team__socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 50px;
}

.clients__icons {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.clients__icons-cards {
  flex-basis: calc(100% / 2 - 30px);
  margin: 15px;
  height: 92px;
}

@media screen and (min-width: 768px) {
  .clients__icons-cards {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__icons-cards {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__icons-number {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 4px;
  color: #afb1b8;
}

.clients__icons-number:hover, .clients__icons-number:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icons-number-cards {
  fill: currentColor;
}

.clients__icons-number-cards {
  width: 106px;
  height: 60px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo-web {
  display: block;
  margin-bottom: 20px;
}

.footer__logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /*font-weight: 700;
  font-size: 26px;
  line-height: 1.19;*/
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer__logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__adress {
  font-style: normal;
}

.footer__adress-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*font-size: 14px;
  line-height: 1.71;*/
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
}

.footer__email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*font-size: 14px;
  line-height: 1.71;*/
  margin-bottom: 9px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__logo-together {
  display: flex;
  align-items: baseline;
}

.footer-together {
  margin-left: 70px;
}

.footer-together__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--main-title-colore);
}

.footer-together__socials {
  display: flex;
}

.footer-together__item:not(:first-child) {
  margin-left: 10px;
}

.footer-together__icons {
  fill: var(--main-title-colore);
}

.footer-together__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ffffff1a;
  width: 44px;
  height: 44px;
  justify-content: center;
  transition: background-color var(--time) var(--timing-function);
}

.footer-together__link:hover, .footer-together__link:focus {
  background-color: var(--accent-color);
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-colore);
}

.footer-subscribe__contact {
  display: flex;
}

.footer-subscribe__email {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding: 15px 16px;
}

.footer-subscribe__email:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.footer-subscribe__button {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-colore);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  border: none;
}

.footer-subscribe__icons {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(23, 26, 36, 0.2);
  transition: opacity var(--time) var(--timing-function), visibility var(--time) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-title-colore);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background-color: transparent;
  transition: fill var(--time) var(--timing-function);
}

.modal__open:focus, .modal__open:hover {
  fill: var(--accent-color);
}

.modal__open-modal {
  display: block;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}

.modal__icon-close {
  position: absolute;
  padding: 6px;
  width: 11px;
  height: 11px;
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--time) var(--timing-function);
}

.modal-form__input:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__icon {
  transition: fill var(--time) var(--timing-function);
}

.modal-form__field {
  position: relative;
}

.modal__form .modal-form__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-form__input-wrap {
  display: block;
  position: relative;
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-title-color);
}

.modal-form__comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--time) var(--timing-function);
}

.modal__comment:focus-within {
  border-color: var(--accent-color);
  outline: none;
}

.modal__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox__checkbox {
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.modal-form-checkbox__check {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-form-checkbox__check-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}

.modal-form-checkbox__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.modal-form-checkbox__checkbox:focus + .modal-form-checkbox__check > .modal-form-checkbox__icon-check {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-checkbox__checkbox:checked + .modal-form-checkbox__check > .modal-form-checkbox__checkbox:focus + .modal-form-checkbox__check > .modal-form-checkbox__icon-check {
  background-color: var(--accent-color);
  border: none;
}

.modal-form-checkbox__modal-icon-check {
  fill: #ffffff;
}

.modal__button-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--main-title-colore);
  padding: 10px 55px 10px 56px;
  border: none;
  transition: background-color var(--time) var(--timing-function);
}

.modal__button-submit:focus, .modal__button-submit:hover {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */