@import './utills/var';
@import './base/reset';
@import './utills/mixins';
@import './layout/header';
@import './layout/headerlogo';
@import './layout/headernavright';
@import './layout/headernavleft';
@import './layout/hero';
@import './layout/herotitle';
@import './layout/herobutton';
@import './layout/peculiarities';
@import './layout/peculiaritiesicons';
@import './layout/peculiaritiestitle';
@import './layout/mainabout';
@import './layout/project';
@import './layout/doing';
@import './layout/team';
@import './layout/clients';
@import './layout/footer';
@import './components/backdrop';
@import './components/modal';
