.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  & .container {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.header__logo-web {
  @include font(700, 24px, 1.17);
  font-family: Raleway;
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
  color: #2196f3;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    @include font(700, 31px, 1.19);
  }
}
.header__logo-studio {
  font-family: Raleway;
  @include font(700, 24px, 1.17);
  padding-top: 16px;
  padding-bottom: 16px;
  letter-spacing: 0.03em;
  color: #000000;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    @include font(700, 31px, 1.19);
  }
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  margin-left: 93px;
  display: none;
}
.header__right {
  display: flex;
  margin-left: auto;
  display: none;
}
.header__item {
  .header__list &:not(:last-child) {
    margin-right: 50px;
  }
  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__right-item {
  .header__right & + & {
    margin-left: 50px;
  }
}
.header__studio {
  position: relative;
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}
.header__studio-second {
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__potfolio {
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__potfolio-second {
  position: relative;
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}
.header__contact {
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icons__envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
  .header__email:hover &,
  .header__email:focus & {
    fill: var(--accent-color);
  }
}
.icons__smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
  .header__tel:hover &,
  .header__tel:focus & {
    fill: var(--accent-color);
  }
}
.header__icons {
  margin-right: 10px;
}
.header__email {
  display: flex;
  align-items: center;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__tel {
  display: flex;
  align-items: center;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
