.header__contact {
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.icons__envelope {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
  .header__email:hover &,
  .header__email:focus & {
    fill: var(--accent-color);
  }
}
.icons__smartphone {
  display: block;
  fill: var(--main-text-color);
  transition: fill var(--time) var(--timing-function);
  .header__tel:hover &,
  .header__tel:focus & {
    fill: var(--accent-color);
  }
}
.header__icons {
  margin-right: 10px;
}
.header__email {
  display: flex;
  align-items: center;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__tel {
  display: flex;
  align-items: center;
  @include font(500, 14px, 1.14);
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
