.header__logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  padding-top: 16px;
  padding-bottom: 16px;
  /*font-family: Raleway;
  @include font(700, 26px, 1.19);
  padding-top: 24px;
  padding-bottom: 25px;*/
  letter-spacing: 0.03em;
  color: #2196f3;
  @media screen and (min-widht: 480px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}
.header__logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28 / 20);
  padding-top: 16px;
  padding-bottom: 16px;
  /*font-family: Raleway;
  @include font(700, 26px, 1.19);
  padding-top: 24px;
  padding-bottom: 25px;*/
  letter-spacing: 0.03em;
  color: #000000;
  @media screen and (min-widht: 480px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }
}
.header__menu {
  position: absolute;
  top: 22px;
  right: 23px;
  border: none;
}
.header__menu-icon {
  width: 24px;
  height: 16px;
}
.header__mob-menu {
  position: relative;
  width: 100vh;
  /*height: 100vh;*/
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
}
.mob-menu__open {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 15px;
}
.mob-menu__open-modal {
  width: 19px;
  height: 19px;
}
.mob-menu__list {
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: 302px;
}
.mob-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  padding-right: 40px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}
.mob-menu__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: -32px;
  }
}
.contact-menu__list {
  margin-left: 40px;
  display: block;
}
.contact-menu__link {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: -32px;
  }
}
.contact-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contact-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.social-menu__list {
  display: flex;
  margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 48px;
}
.social-menu__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-right: 20px;
  &:last-child {
    margin-right: -20px;
  }
}
.header__mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
