.header__navigation {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
  margin-left: 93px;
}
.header__right {
  display: flex;
  margin-left: auto;
}
.header__item {
  .header__list &:not(:last-child) {
    margin-right: 50px;
  }
  & .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.header__right-item {
  .header__right & + & {
    margin-left: 50px;
  }
}
.header__studio {
  position: relative;
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}
.header__studio-second {
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__potfolio {
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header__potfolio-second {
  position: relative;
  @include font(500, 14px, 1.14);
  padding-top: 32px;
  padding-bottom: 32px;
  letter-spacing: 0.02em;
  color: #2196f3;
  &::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
  }
}
