.hero__title {
  /*@include font(900, 20px, 1.62);*/
  font-weight: 900;
  font-size: 24px;
  line-height: calc(40 / 24);
  display: block;
  text-align: center;
  min-width: 340px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  justify-content: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-colore);
  @media screen and (min-widht: 480px) {
    font-size: 26px;
    line-height: calc(42 / 26);
    width: 360px;
    height: 84px;
    /* @include font(900, 26px, 1.62);*/
  }
  @media screen and (min-widht: 1200px) {
    font-size: 44px;
    line-height: calc(60 / 44);
    width: 696px;
    height: 120px;
    /*@include font(900, 44px, 1.36);*/
  }
}
