.peculiarities__icons {
  display: flex;
  height: 120px;
  width: 270px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.peculiarities__icons-icons {
  display: block;
  width: 70px;
  height: 70px;
}
