.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-information {
  .projects-list & {
    flex-basis: calc(100% / 3-30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}
.projects-cards {
  display: block;
  max-width: 100%;
}
.cards-name {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.projects-name {
  @include font(700, 18px, 2);
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.projects-type {
  @include font(400, 16px, 1.87);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.projects-information-link {
  display: block;
  transition: box-shadow var(--time) var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.projects-cards-text {
  position: relative;
  overflow: hidden;
}
.projects-information-text {
  position: absolute;
  top: 0;
  height: 100%;
  @include font(400, 18px, 1.56);
  letter-spacing: 0.03em;
  color: var(--main-title-colore);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--time) var(--timing-function);
  .projects-information-link:hover & {
    transform: translateY(0%);
  }
}
