.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(23, 26, 36, 0.2);
  transition: opacity var(--time) var(--timing-function),
    visibility var(--time) var(--timing-function);
}
.backdrop {
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
