.header__menu {
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 15px 10px 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: fill var(--time) var(--timing-function);
  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
// .header__menu .mob-menu__icon-close {
//   display: none;
// }
// .header__menu.is-open .mob-menu__icon-close {
//   display: block;
// }
// .header__menu.is-open menu-icon {
//   display: none;
// }
.header__menu-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 40px;
  // height: 40px;
  cursor: pointer;
  // top: 0px;
  // left: 0px;
  // transition: fill var(--time) var(--timing-function);
  // &:hover,
  // &:focus {
  //   fill: var(--accent-color);
  // }
}
.menu-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--time) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.header__mob-menu {
  // position: relative;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  top: 0;
  right: 0;
  padding: 10px 15px 48px 40px;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu__open {
  position: absolute;
  // display: block;
  right: 14px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 15px;
  fill: var(--second-title-color);
  cursor: pointer;
  transition: fill var(--time) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mob-menu__open-modal {
  width: 35px;
  height: 35px;
  fill: var(--second-title-color);
  cursor: pointer;
  transition: fill var(--time) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.mob-menu__all {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mob-menu__list {
  padding-top: 48px;
  padding-left: 40px;

  // margin-bottom: 302px;
}
.mob-menu__studio {
  @include font(500, 40px, 1.18);
  // padding-right: 40px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  cursor: pointer;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__studio-color {
  @include font(500, 40px, 1.18);
  // padding-right: 40px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--accent-color);
}
.mob-menu__portfolio,
.mob-menu__contact {
  @include font(500, 40px, 1.18);
  // padding-right: 40px;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  cursor: pointer;
  transition: color var(--time) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mob-menu__portfolio-color {
  @include font(500, 40px, 1.18);
  // padding-right: 40px;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--accent-color);
}
.mob-menu__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: -32px;
  }
}
.contact-menu__list {
  padding-left: 40px;
  // display: block;
  padding-bottom: 64px;
}
.contact-menu__link {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: -32px;
  }
}
.contact-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: calc(40 / 34);
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contact-menu__email {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.social-menu__list {
  display: flex;
  // margin-top: 64px;
  margin-left: 40px;
  margin-bottom: 48px;
}
.social-menu__item {
  display: flex;
  justify-content: center;
  align-items: center;
  // &:last-child {
  //   margin-right: -20px;
  // }
}
.social-menu__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.social-menu__icon-span {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}
.social-menu__link {
  display: block;
  @include font(500, 18px, 1.22);
  letter-spacing: 0.02em;
  color: var(--accent-color);
  // margin-right: 20px;
}
.header__mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
