.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--main-title-colore);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__open {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  top: 14px;
  right: 14px;
  cursor: pointer;
  background-color: transparent;
  transition: fill var(--time) var(--timing-function);
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.modal__open-modal {
  display: block;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
}
.modal__icon-close {
  position: absolute;
  padding: 6px;
  width: 11px;
  height: 11px;
}

.modal__text {
  @include font(700, 20px, 1.15);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 12px;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--time) var(--timing-function);
  &:focus-within {
    border-color: var(--accent-color);
    outline: none;
  }
  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }
}
.modal-form__icon {
  transition: fill var(--time) var(--timing-function);
}
.modal-form__field {
  position: relative;
  .modal__form &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.modal-form__label {
  @include font(400, 12px, 1.17);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}
.modal-form__input-wrap {
  display: block;
  position: relative;
}
.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--second-title-color);
}
.modal-form__comment {
  @include font(400, 12px, 1.17);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}
.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color var(--time) var(--timing-function);
  &:focus-within {
    border-color: var(--accent-color);
    outline: none;
  }
  &::placeholder {
    @include font(400, 12px, 1.67);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}
.modal-form-checkbox__checkbox {
  position: absolute;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-form-checkbox__check {
  display: flex;
  align-items: center;
  @include font(400, 14px, 1.71);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.modal-form-checkbox__check-contract {
  @include font(400, 14px, 1.71);
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-left: 3px;
}
.modal-form-checkbox__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--second-title-color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  .modal-form-checkbox__checkbox:focus + .modal-form-checkbox__check > & {
    background-color: var(--accent-color);
    border: none;
    .modal-form-checkbox__checkbox:checked + .modal-form-checkbox__check > & {
      background-color: var(--accent-color);
      border: none;
    }
  }
}
.modal-form-checkbox__modal-icon-check {
  fill: #ffffff;
}

.modal__button-submit {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--main-title-colore);
  padding: 10px 55px 10px 56px;
  border: none;
  transition: background-color var(--time) var(--timing-function);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
